---
import Footer from "../../components/Footer.astro";

import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";
import Layout from "src/layouts/Layout.astro";

const posts = await getCollection("articles");
console.log("posts", posts);
export const prerender = true;
---

<Layout title="Articles" description="Articles page">
	<section class="">
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/articles/${post.id}/`}>
							<Image
								width={1020}
								src={post.data.coverImage}
								format="jpeg"
								alt=""
							/>
							<h4 class="title">{post.data.title}</h4>
							<p class="date">
								<FormattedDate date={post.data.pubDate} />
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
