---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Welcome to my blog">
    <main class="w-6xl mx-auto text-primary">
        <h1 class="text-3xl font-bold">Welcome to my blog</h1>
        <p>This is a blog about my journey learning Astro.</p>
    </main>
</Layout>
