---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<footer class="text-black bg-base-300 bottom-0 inset-x-0 absolute">
    <div class="max-w-4xl mx-auto px-8">
        <p>{SITE_DESCRIPTION}</p>
    </div>
</footer>
