---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"articles">["data"];

const { title, excerpt, pubDate, coverImage } = Astro.props;
---

<Layout {title} description={excerpt!}>
	<article>
		<div class="hero-image">
			<Image width={1020} height={510} src={coverImage} alt="" />
		</div>
		<div class="bg-base-300">
			<div class="text-white max-w-4xl mx-auto">
				<div class="date">
					<FormattedDate date={pubDate} />
				</div>
				<h1 class="text-5xl font-bold">{title}</h1>
			</div>
		</div>
		<div class="prose max-w-4xl mx-auto text-black">
			<slot />
		</div>
	</article>
</Layout>
