---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import BaseHead from "./BaseHead.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="bg-yellow-50">
	<BaseHead {title} {description} />
	<body class="">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
